/* Header */
header{
    width: 100vw;
    height: 15.7398vh;
    left: 0vh;
    top: 0vh;
    font-family: Arial, Helvetica, sans-serif;

    background: linear-gradient(to top, #353637, #454648);
}

/* Titre 1 */
h1{
    font-size: 5.0367vh;
}

/* Paragraphe */
p{
    text-align: center;
    margin: 1vh;
    font-size: 3.7775vh;
}
/* Body */
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, #353637, #66656B);
    margin: 0vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* hcr2_Logo */
#HCR2_Logo{
    position: absolute;
    width: 12.8074vw;
    height: 14.1658vh;
    left: 2.4134vh;
    top: 1vh;
}

/* flexContainerButtonHeader */
#flexContainerHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Boutton Header */
.Button_Header{
    width: 10.0451vw;
    height: 15.7398vh;
    top: 0vh;
    color: white;
    font-size: 5.0367vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(to top, #363638, #030104);
}

/* HyperLien */
a{
    text-decoration: none;
}

/* Boutton Contact */
#Button_Contact{
    border-top: none;
    border-bottom: none;
    border-left: rgb(0,0,0);
    border-right: rgb(0,0,0);
    border-width: 0.5247vh;
    border-left-style: solid;
    border-right-style: solid;

    align-content: start;
}

/* Boutton Calculer */
#Button_Calculer{
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: rgb(0,0,0);

    border-width: 0.5247vh;
    border-right-style: solid;
}

/* Formulaire_Image */
#icon_contact{
    width: 4.7951vw;
    height: 10.702vh;
    filter: invert();

    transform: rotate(5.35deg);
}

/* Calculatrice_Image */
#icon_calculer{
    width: 5.2234vw;
    height: 10.9129vh;
    filter: invert();

    transform: rotate(-23.69deg);
}

/* Excplication du site */
#TextExplicatif{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Boutton Header (HOVER) */
.Button_Header:hover{
    cursor: pointer;
    background-image: linear-gradient(to top, #ABACB0, #58595B);
}