/* Header */
header{
    width: 100vw;
    height: 15.7398vh;
    left: 0vh;
    top: 0vh;
    font-family: Arial, Helvetica, sans-serif;

    background: linear-gradient(to top, #353637, #454648);
}

/* Titre 1 */
h1{
    font-size: 5.0367vh;
}

/* Paragraphe */
p{
    text-align: center;
    margin: 1vh;
    font-size: 3.7775vh;
}
/* Body */
body{
    width: 88.8985vw;
    height: 100vh;
    margin: 0vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* hcr2_Logo */
#HCR2_Logo{
    position: absolute;
    width: 12.8074vw;
    height: 14.1658vh;
    left: 2.4134vh;
    top: 1vh;
}

/* flexContainerButtonHeader */
#flexContainerHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Boutton Header */
.Button_Header{
    width: 10.0451vw;
    height: 15.7398vh;
    top: 0vh;
    color: white;
    font-size: 5.0367vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(to top, #363638, #030104);
}

/* HyperLien */
a{
    text-decoration: none;
}

/* Boutton Contact */
#Button_Contact{
    border-top: none;
    border-bottom: none;
    border-left: rgb(0,0,0);
    border-right: rgb(0,0,0);
    border-width: 0.5247vh;
    border-left-style: solid;
    border-right-style: solid;

    align-content: start;
}

/* Boutton Accueil */
#Button_accueil{
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: rgb(0,0,0);

    border-width: 0.2511vw;
    border-right-style: solid;
}

/* Formulaire_Image */
#icon_contact{
    width: 4.7955vw;
    height: 10.702vh;
    filter: invert();

    transform: rotate(5.35deg);
}

/* Accueil_Image */
#icon_accueil{
    width: 5.2234vw;
    height: 10.9129vh;
    filter: invert();
}

/* Excplication du site */
#SectionCalculer{
    width: 100vw;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

}

/* Boutton Header (HOVER) */
.Button_Header:hover{
    cursor: pointer;
    background-image: linear-gradient(to top, #ABACB0, #58595B);
}

/* Section d'amelioration */
#upgrades_panel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 15.4407vh;
    height: 28.8357vh;
    width: 100vw;
    font-size: 3.9173vh
}

/* block d'amelioration*/
.upgrade_block{
    display: flex;
    flex-direction: column;
    background-color: #E48C31;
    width: 9.7396vw;
    height: 21.2187vh;
    border-width: 1.0881vh 1.0881vh 0vh 1.0881vh;
    border-style: solid;
    border-color: #FDF4E8;
    align-items: center;
}

/* Nom de l'amelioration*/
.upgrade_title{
    position: absolute;
    margin-top: -3.05vh;
    font-weight: bold;
    -webkit-text-stroke-width: 0.15vh;
    -webkit-text-stroke-color: black;
}

/* Niveau de l'amelioration */
.upgrade_level{
    color: black;
    position: absolute;
    margin-top: 17vh;
}

/* Boutton ameliorer */
.upgrade_button{
    color: white;
    font-size: 3.9173vh;
    width: 10.9896vw;
    height: 7.617vh;
    background: linear-gradient(180deg, #4AB235 0%, #54B13C 100%);
    border: 1.0881vh solid #000000;
    margin-top: 21.2187vh;
    cursor:pointer
}

.downgrade_button{
    color: white;
    font-size: 3.9173vh;
    width: 10.9896vw;
    height: 7.617vh;
    border: 1.0881vh solid #000000;
    background: linear-gradient(to top, #5D6363,#525D61);
    margin-top: 1vh;
    cursor:pointer
}

/* Image_garage */
#image_garage{
    position: absolute;
    width: 100vw;
    height: 84.2602vh;
}

/* Image du véhicule*/
#Vehicule_Icon{
    width: 26.3255vw;
    z-index: +1;
    margin-top: 40vh;
}

/* Illustration de véhicule */
#change_vehicule_button{
    width:4.7865vw;
    position: absolute;
    right: 9.5729vw;
}

/* Boutton calculer */
#calculerRestant{
    position: absolute;
    width: 10.5729vw;
    height: 14.2546vh;
    bottom: 1.741vh;
    right: 5.4407vh;

    background: linear-gradient(180deg, #75BD4E 0%, #4AA738 100%);
    border: 1.0881vh solid #000000;

    font-size: 5vh;
    color: white;
    cursor:pointer
}

/* Affichage du nombre d'argent requis */
#nombreArgentRequis{
    position: absolute;
    width: 10.5729vw;
    height: 14.2546vh;
    bottom: 1.741vh;
    left: 5.4407vh;

    justify-content: center;
    align-content: center;

    background: linear-gradient(180deg,  #754C25 0%, #774019 100%);
    border: 1.0881vh solid #000000;

    font-size: 5vh;
    color: white;
    cursor:pointer
}

/* Boutton calculer(HOVER)*/
#calculerRestant:hover{
    background: linear-gradient(180deg, #4AA738 0%, #75BD4E 100%);
    border: 1.0881vh solid #000000;
}

/* Boutton calculer(ACTIVE)*/
#calculerRestant:active{
    background: linear-gradient(180deg, #75bd4e 0%, #4aa738 100%);
    border: 1.0881vh solid #000000;
}

/* Pop-up d'information */
#myForm{
    display: none;
}

/* Boutton pour fermer la pop-up */
.closeInfoNico{
    position: absolute;
    right: 1.5vw;
    top: 1.5vh;

    width: 3vw;
    height: 5vh;

    background: linear-gradient(180deg, #ff0000 0%, #690000 100%);
    border: 0.5vh solid #000000;
}

/* Style de la pop-up */
.form-popup{
    top: 0vh;
    z-index: +1;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: start;
    position: relative;
    flex-direction: row;

    width: 75vw;
    height: 75vh;

    background: linear-gradient(180deg, #2E3643 0%, #262C38 100%);
    border: 1.0881vh solid #8B8B8B;
}

/* Centrer le titre de la pop-up */
.titleChangeVehicule{
    display: flex;
    width: 100%;
    height: 4ch;
    justify-content: center;
}

.vehiculeIcon_Change{
    width: 10vw;

}