/* Header */
header{
    width: 208.9227vh;
    height: 15.7398vh;
    left: 0vh;
    top: 0vh;
    font-family: Arial, Helvetica, sans-serif;

    background: linear-gradient(to top, #353637, #454648);
}

/* Titre 1 */
h1{
    font-size: 5.0367vh;
}

/* Paragraphe */
p{
    text-align: center;
    margin: 1vh;
    font-size: 3.7775vh;
}
/* Body */
body{
    width: 185.7292vh;
    height: 100vh;
    margin: 0vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* hcr2_Logo */
#HCR2_Logo{
    position: absolute;
    width: 26.7576vh;
    height: 14.1658vh;
    left: 2.4134vh;
    top: 1vh;
}

/* flexContainerButtonHeader */
#flexContainerHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Boutton Header */
.Button_Header{
    width: 20.9864vh;
    height: 15.7398vh;
    top: 0vh;
    color: white;
    font-size: 5.0367vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(to top, #363638, #030104);
}

/* HyperLien */
a{
    text-decoration: none;
}

/* Boutton Contact */
#Button_Contact{
    border-top: none;
    border-bottom: none;
    border-left: rgb(0,0,0);
    border-right: rgb(0,0,0);
    border-width: 0.5247vh;
    border-left-style: solid;
    border-right-style: solid;

    align-content: start;
}

/* Boutton Accueil */
#Button_accueil{
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: rgb(0,0,0);

    border-width: 0.5247vh;
    border-right-style: solid;
}

/* Formulaire_Image */
#icon_contact{
    width: 10.0189vh;
    height: 10.702vh;
    filter: invert();

    transform: rotate(5.35deg);
}

/* Accueil_Image */
#icon_accueil{
    width: 10.9129vh;
    height: 10.9129vh;
    filter: invert();
}

/* Excplication du site */
#SectionCalculer{
    width: 208.9227vh;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

}

/* Boutton Header (HOVER) */
.Button_Header:hover{
    cursor: pointer;
    background-image: linear-gradient(to top, #ABACB0, #58595B);
}

/* Section d'amelioration */
#upgrades_panel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 15.4407vh;
    height: 28.8357vh;
    width: 208.9227vh;
    font-size: 3.9173vh
}

/* block d'amelioration*/
.upgrade_block{
    display: flex;
    flex-direction: column;
    background-color: #E48C31;
    width: 20.3482vh;
    height: 21.2187vh;
    border-width: 1.0881vh 1.0881vh 0vh 1.0881vh;
    border-style: solid;
    border-color: #FDF4E8;
    align-items: center;
}

/* Nom de l'amelioration*/
.upgrade_title{
    position: absolute;
    margin-top: -3.05vh;
    font-weight: bold;
    -webkit-text-stroke-width: 0.15vh;
    -webkit-text-stroke-color: black;
}

/* Niveau de l'amelioration */
.upgrade_level{
    color: black;
    position: absolute;
    margin-top: 17vh;
}

/* Boutton ameliorer */
.upgrade_button{
    color: white;
    font-size: 3.9173vh;
    width: 22.9597vh;
    height: 7.617vh;
    background: #4AA834;
    border: 1.0881vh solid #000000;
    margin-top: 21.2187vh;
}

.downgrade_button{
    color: white;
    font-size: 3.9173vh;
    width: 22.9597vh;
    height: 7.617vh;
    border: 1.0881vh solid #000000;
    background: linear-gradient(to top, #5D6363,#525D61);
    margin-top: 1vh;
}

/* Image_garage */
#image_garage{
    position: absolute;
    width: 208.9227vh;
    height: 84.2602vh;
}

/* Image du véhicule*/
#Vehicule_Icon{
    width: 55vh;
    z-index: +1;
    margin-top: 40vh;
}