/* Body */
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header{
    width: 208.9227vh;
    height: 15.7398vh;
    left: 0vh;
    top: 0vh;
    font-family: Arial, Helvetica, sans-serif;

    background: linear-gradient(to top, #353637, #454648);
}

/* Titre 1 */
h1{
    font-size: 5.0367vh;
    position:absolute;
    margin: 0;
    top: 16.7398vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* Paragraphe */
p{
    text-align: center;
    margin: 1vh;
    font-size: 3.7775vh;
}
/* Body */
body{
    width: 185.7292vh;
    height: 100vh;
    background: linear-gradient(to top, #353637, #66656B);
    margin: 0vh;
    color: white;
}

/* hcr2_Logo */
#HCR2_Logo{
    position: absolute;
    width: 26.7576vh;
    height: 14.1658vh;
    left: 2.4134vh;
    top: 1vh;
}

/* flexContainerButtonHeader */
#flexContainerHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Boutton Header */
.Button_Header{
    width: 20.9864vh;
    height: 15.7398vh;
    top: 0vh;
    color: white;
    font-size: 5.0367vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(to top, #363638, #030104);
}

/* HyperLien */
a{
    text-decoration: none;
}

/* Boutton Contact */
#Button_Accueil{
    border-top: none;
    border-bottom: none;
    border-left: rgb(0,0,0);
    border-right: rgb(0,0,0);
    border-width: 0.5247vh;
    border-left-style: solid;
    border-right-style: solid;

    align-content: start;
}

/* Boutton Calculer */
#Button_Calculer{
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: rgb(0,0,0);

    border-width: 0.5247vh;
    border-right-style: solid;
}

/* Accueil_Image */
#icon_contact{
    width: 10.0189vh;
    height: 10.702vh;
    filter: invert();
}

/* Calculatrice_Image */
#icon_calculer{
    width: 10.9129vh;
    height: 10.9129vh;
    filter: invert();

    transform: rotate(-23.69deg);
}

/* Boutton Header (HOVER) */
.Button_Header:hover{
    cursor: pointer;
    background-image: linear-gradient(to top, #ABACB0, #58595B);
}

/* flexContainerContact */
.flexContainerContact{
    display: flex;
    width: 208.9227vh;
    height: 84.2602vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ContactContainer */
.ContactContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 193.1447vh;
    height: 74.4669vh;
    background: linear-gradient(180deg, #2E3643 0%, #262C38 100%);
    border: 10px solid #8B8B8B;
}

/* Premier titre d'une zone de texte */
.textAreaTitle:first-of-type{
    align-self: baseline;
    margin-top: 2.7203vh;
    margin-left: 5.6583vh;
    font-weight: bold;
}
.textAreaTitle{
    align-self: baseline;
    margin-left: 5.6583vh;
    font-weight: bold;
}

/* zone de texte */
textarea{
    width: 180.5223vh;
    height: 8.2699vh;
    
    background: linear-gradient(180deg, #7D8B8C 0%, #565D63 100%);
    border: 5px solid #000000;
    resize: none;
}

/* texte temporaire des zones de texte */
textarea::placeholder{
    color: black;
}